* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f5f6;
}

.container {
  max-width: 800px;
  /* display: flex; */
  margin: auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 8px;
}

.filter-polje {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  padding: 12px;
  /* margin: 10px; */
}
#filter {
  font-size: 1rem;
  width: 250px;
  border: none;
  padding: 8px;
}

.filter-select {
  border: none;
  font-size: 1rem;
  background-color: red;
  padding: 8px;
}

.filter-polje label {
  /* display: flex; */
  /* justify-content: space-between; */
  /* background-color: blue; */
  padding: 10px;
  /* margin: 10px; */
}

.listaZadataka {
  background-color: bisque;
}

.zadatak {
  background-color: #0284d0 ;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  /* justify-content: space-between; */
}

.link {
  text-decoration: none;
  /* width: 400px; */
  margin: 0 10px;
}

.zadatak .link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.zadatak label {
  padding: 8px;
}

#zadatak-text {
  width: 400px;
}

#zadatak-naziv {
  width: 150px;
  text-align: left;
}

.zadatak i {
  padding: 8px;
  margin-left: 20px;
}

/* #kreiraj-zadatak {
  font-size: 1rem;
  padding: 0.3rem;
  margin: 0.3rem;
  border: none;
} */



.brisi {
  position: relative;
  background-color:transparent;
  border: none;
  width: 40px;
  height: 40px;
  outline: none;
  /* border: none; */
} 

.brisi .del {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color:blue;
  background-color:transparent;
  /* border: none; */
  left: -50%;
  top: -0;
  /* right: 40px;
  bottom: 40px; */
  /* height: 40px; */
  /* outline: non?e; */
}

.btn {
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.btn:active {
  outline: none;
  border: none;
}

.btn:focus {
  transform: scale(0.95);
  /* transition: transform 0.5s ease-in-out; */
}
