* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f5f6;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 800px;
  /* display: flex; */
  margin: auto;
  overflow: hidden;
}

.naslov h1{
  background-color: #28a746;
  /* width: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 8px;
  width: 100%;
}

.filter-polje {
  display: flex;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:#a5d6a7;
  padding: 10px;
  /* margin: 10px; */
}

.filter-polje label {
  font-size: 1.2rem;
  text-align: right;
}
#filter {
  font-size: 1rem;
  width: 200px;
  border: none;
  padding: 8px;
  margin: 8px;
}

.filter-select {
  cursor: pointer;
  border: none;
  font-size: 1rem;
  background-color:#dcedc8;
  padding: 8px;
  border: none;
}

.filter-polje label {
  /* display: flex; */
  /* justify-content: space-between; */
  /* background-color: blue; */
  padding: 8px;
  /* margin: 10px; */
}


#zadatakIzvrsenLista {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20px;
  width: 20px;
  /* margin: auto; */
}
/* .listaZadataka {
  background-color: bisque;
} */

.zadatak {
  display: flex;
  background-color:#dcedc8;
  align-items: center;
  text-align: center;
  padding: 5px;
  /* margin: 5px; */
  text-decoration: none;
  border: 1px solid #cfd8dc;
  /* justify-content: space-between; */
}

#zadatak-text {
  font-size: 1.2rem;
}

.kreiraj-brisi-izvrseno {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  /* width: 400px; */
  margin: 0 10px;
}

.zadatak .link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.zadatak label {
  padding: 8px;
}

.zadatak img {
  background-color: transparent;
  width: 60px;
  height: 60px;
  margin-left: 15px;
}

#zadatak-text {
  width: 400px;
}

#zadatak-naziv {
  width: 150px;
  text-align: left;
}

.brisi {
  position: relative;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  outline: none;
  /* border: none; */
}

.brisi .del {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: blue;
  background-color: transparent;
  /* border: none; */
  left: -50%;
  top: -0;
  /* right: 40px;
  bottom: 40px; */
  /* height: 40px; */
  /* outline: non?e; */
}


/* BUTTON */
.btn {
  border-radius: 5px;
  background-color: #90caf9;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
}

.btn:active {
  outline: none;
  border: none;
}

.btn:focus {
  transform: scale(0.95);
  /* transition: transform 0.5s ease-in-out; */
}

.btn.povratak {
  background-color: #c8e6c9;
}




.kreiraj button {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center;  */
  margin: 0.5rem auto;
  /* width: 60%; */
  text-align: left;
  text-overflow: inherit;
  vertical-align: middle;
  padding: 8px;

  text-justify: auto;
}

/* EDIT page */
#edit-naziv {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 10px;
  /* border: none; */
}

#edit-text {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 10px;
  /* border: none; */
}

.edit-listaZadataka {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.edit-naslov {
  background-color: #28a746;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 8px;
}

#edit-text {
  margin-top: 20px;
  width: 80%;
}

#kreirano{
  padding: 8px;
  margin: 10px auto;
}

#zadatakIzvrsen {
  cursor: pointer;
  width: 20px;
  height: 20px;
  outline: none;
}

#zadatakIzvrsen:hover {
  background-color: #28a746;
  color: red;
  transform: scale(1.2);
}


/* Prikazivanje poruke brisanja zapisa*/
.poruke {
  position:absolute;
  /* top:0; */
  width: 250px;
  height: 60px;
  background-color: #90caf9;
  font-size: 1.4rem;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center; 
  text-align: center;
  transform: translateX(0px) translateY(-500px)
  /* left: 200; */
}

.vrati-poruku {
  transform: translateX(0px) translateY(-10px);
  transition: transform 1s ease;
}




/* MEDIA*/
@media(max-width:500px) {
  .zadatak {
 flex-direction: column;
  }
  #zadatak-naziv {
    width: 50px;
    text-align: right;
    margin-right: 10px;
  }
  #zadatak-text {
    width: 300px;
  }

  .filter-polje {
  flex-direction: column;
 }

}
